<a href="https://colab.research.google.com/github/Ilia-Gershen/TYP-project/blob/main/DeepLearningModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.metrics import mean_squared_error, mean_absolute_error
import warnings
# warnings.filterwarnings('ignore')

In [3]:
from google.colab import drive #connecting google drive with Database of the project
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
# Importing the csv made in data preprocessing stage
ETH = pd.read_csv("/content/drive/MyDrive/Database/ETH-preprocessed.csv")
ETH.sort_values(by = 'Date', ascending = False, inplace = True) #sorting it so on the top are the most recent dates
ETH.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
1826,1826,2022-11-19,1212.237305,1212.237305,1200.975830,1208.045654,1208.045654,6.361960e+09
1825,1825,2022-11-18,1200.802124,1226.737427,1200.802124,1212.300293,1212.300293,7.979913e+09
1824,1824,2022-11-17,1215.848633,1224.965698,1189.152710,1200.808594,1200.808594,9.723647e+09
1823,1823,2022-11-16,1251.808838,1264.486328,1192.987793,1215.602539,1215.602539,1.193956e+10
1822,1822,2022-11-15,1241.677734,1283.198730,1238.688232,1251.736206,1251.736206,1.179801e+10

Data Processing

In [6]:
def Dataset(Data, Date): #function for creation of traning and testing datasets for the models

  Train_Data = Data['Close'][Data['Date'] < Date].to_numpy() #taking data after the given date
  TrainingData = []
  TrainingDataX = []
  TrainingDataY = []

  for i in range(0, len(Train_Data), 10):
    try:
      TrainingData.append(Train_Data[i:i+10])
    except:
      pass

  if len(TrainingData[-1]) < 10:
    TrainingData.pop(-1)